.page-header-image {
  background: #1d70b7;
}

.page-header-image > img {
  opacity: 0.5;
  min-height: 150px;
}

.wat-doen-wij-row {
  width: 90%;
  margin: 0 auto 40px auto;
}

.wat-doen-wij-col {
  width: 21%;
  background-color: #f2f2f2;
  padding: 20px 0 0 0;
  margin: 2%;
  text-align: center;
  overflow: hidden;
  min-height: 35vw;
}

.wat-doen-wij-col:hover img {
  transform: scale(1.05);
  background-color: white;
  opacity: 0.8;
}

.wat-doen-wij-col:hover .btn-primary {
  background-color: #286090!important;
}

.wat-doen-wij-col:hover h4 {
  color: #8dc0f7!important;
}

.wat-doen-wij-col:hover h4.underlineGreen::after {
  border-bottom: 4px solid #8dc0f7!important;
}


.wat-doen-wij-image {
  height: 190px;
}

.wat-doen-wij-col p {
  padding: 1vw 1vw;
  text-align: justify;
}

.wat-doen-wij-col h4 {
  font-size: 23px!important;
}

.wat-doen-wij-col h4.underlineGreen {
  padding-top: 10px!important;
  margin-bottom: 2vw!important;
      margin-top: 10px;
          width: fit-content;
}

.wat-doen-wij-col .btn-green {
  margin: 0 auto 20px auto!important;
  min-width: 0;
}

#her-ontwikkel .wysiwyg, #aan-verhuur .wysiwyg {
  margin: -4vw auto 20px auto;
}

#aan-verhuur,
#beleggingsadvies,
#her-ontwikkel,
#asset-management {
  /* padding-bottom: 40px; */
}

#aan-verhuur .h4_block,
#beleggingsadvies .h4_block,
#her-ontwikkel .h4_block,
#asset-management .h4_block {
  /* margin-top: 60px; */
}

#aan-verhuur p,
#beleggingsadvies p,
#her-ontwikkel p,
#asset-management p {
  width: 80%;
  margin: 20px auto 59px auto!important;
  text-align: justify;
  display: inline-block;
}

#aan-verhuur .metaslider,
#beleggingsadvies .metaslider,
#her-ontwikkel .metaslider,
#asset-management .metaslider {
  margin: 50px 6%!important;
  width: 88%!important;
}

#aan-verhuur .metaslider .flex-control-nav,
#beleggingsadvies .metaslider .flex-control-nav,
#her-ontwikkel .metaslider .flex-control-nav,
#asset-management .metaslider .flex-control-nav {
  position: relative;
  bottom: -10px;
}

#aan-verhuur .metaslider .flex-control-paging li a.flex-active,
#beleggingsadvies .metaslider .flex-control-paging li a.flex-active,
#her-ontwikkel .metaslider .flex-control-paging li a.flex-active,
#asset-management .metaslider .flex-control-paging li a.flex-active {
  background: #666;
}

#aan-verhuur .metaslider .flex-control-paging li a,
#beleggingsadvies .metaslider .flex-control-paging li a,
#her-ontwikkel .metaslider .flex-control-paging li a,
#asset-management .metaslider .flex-control-paging li a {
  border: 1px solid #666!important;
}

#aan-verhuur button,
#beleggingsadvies button,
#her-ontwikkel button,
#asset-management button {
  color: #fff;
  background: #999;
  height: 30px;
  line-height: 0;
  margin-bottom: 60px;
  font-family: MerriweatherRegular;
}

.aan-verhuur-text-block,
.beleggingsadvies-text-block,
.her-ontwikkel-text-block,
.asset-management-text-block {
  text-align: center;
}

.aan-verhuur-text-block p,
.beleggingsadvies-text-block p,
.her-ontwikkel-text-block p,
.asset-management-text-block p {
  text-align: left;
}

#aan-verhuur,
#her-ontwikkel {
  background: #f2f2f2;
  margin-bottom: 5px;
  box-shadow: 0 5px 10px #c2c2c2;
}

.asset-management-page > p,
.actueel-page > p {
  width: 80%;
  margin: 0 auto;
}

.storiesWhite .btn.btn-green {
  margin: 20px!important;
}

.story_preview_text_container h4.underlineGreen {
  padding-top: 0!important;
  margin: 0 0 5px 0!important;
  font-size: 25px!important;
}
.story_preview_story .story_preview_text_container {
  padding: 0!important;
}

.story_preview_story .green.underlineGreen:after {
  bottom: -10px!important;
}

.story_preview_story .story_preview_container {
  padding-bottom: 0!important;
}

.story_preview_text {
  position: relative;
  margin-top: 10px;
}

.story_preview_image {
  height: 250px;
}

.story_preview_image img {
  height: 100%;
}

.story_preview_container {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eee;
  min-height: 510px;
  overflow: hidden;
}

.story {
  margin: 40px auto 20px auto;
}

.story_preview_story .story_preview_container {
  padding-top: 10px;
  background: #fff;
  min-height: 0;
  height: auto!important;
  overflow: hidden;
  margin: 40px 0;
}

.story_preview_story .story_preview_container .story_preview_text {
  height: 80px;
}

.other_stories {
  background: #1d70b7!important;
  color: #fff!important;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 80px;
}

.other_stories p {
  width: 76%;
  margin: 30px auto;
  color: #fff!important;
  text-align: center;
}

.other_stories > .h4_block h4.underlineGreen::after {
  border-bottom: 4px solid #fff
}

.btn.btn-green.btn-primary.whiteBlue {
  /* min-width: 151px; */
    width: auto;
    margin: 0 auto;
    background: #fff!important;
    color: #1d70b7!important;
    border-radius: 0px;
    font-family: MerriweatherRegular;
    border-color: transparent!important;
 /*   font-size: 26px; */
 /*   padding: 3px 10px 5px 10px; */
 /*   height: 34px; */
 /*   line-height: 0; */
 /*   width: 151px; */

}

.interest-in-project {
  text-align: center;
  margin-bottom: 40px;
}

.interest-in-project p {
  text-align: center;
}

#post-2134 .story_preview,
#post-2136 .story_preview,
/* #post-2138 .story_preview, */
#post-2131 .story_preview {
  margin: 0;
}

#post-2134 .story_preview_container,
#post-2136 .story_preview_container,
/* #post-2138 .story_preview_container */
#post-2131 .story_preview_container {
  padding: 70px;
  min-height: 550px!important;
}

#post-2134 .story_preview_image,
#post-2136 .story_preview_image,
/* #post-2138 .story_preview_image, */
#post-2131 .story_preview_image {
  overflow: hidden;
}

#post-2134 .other_stories_container,
#post-2136 .other_stories_container,
/* #post-2138 .other_stories_container, */
#post-2131 .other_stories_container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}


#post-2134 .story_preview_text,
#post-2136 .story_preview_text,
/* #post-2138 .story_preview_text, */
#post-2131 .story_preview_text {
  background: #f2f2f2;
  height: 80%;
  margin-top: 0;
}

#post-2134 .story_preview_text_container,
#post-2136 .story_preview_text_container,
/* #post-2138 .story_preview_text_container, */
#post-2131 .story_preview_text_container {
  padding: 10px;
}

#post-2134 .btn.btn-green.big,
#post-2136 .btn.btn-green.big,
#post-2138 .btn.btn-green.big,
#post-2131 .btn.btn-green.big {
  height: 100px;
  width: 260px;
  margin: 5px 50px;
  font-size: 27px!important;
  padding-bottom: 20px;
}
#post-2131 .btn.btn-green.big h4 {
  font-size: 27px!important;
}

.project-else {
  margin: 50px 0 100px 0;
  text-align: center;
}

.project-else p {
  text-align: center;
  margin-top: 30px;
}

.project-else > span {
  font-size: 30px;
  color: #1d70b7!important;
  font-weight: 200;
  margin-bottom: -20px;
}

#post-2138 .btn.btn-green.big > .glyphicon-menu-down,
#post-2136 .btn.btn-green.big > .glyphicon-menu-down,
#post-2134 .btn.btn-green.big > .glyphicon-menu-down,
#post-2131 .btn.btn-green.big > .glyphicon-menu-down {
  top: 36px;
}

.btn.btn-green.big > .btn-text {
  margin-top: -10px;
  position: relative;
  font-size: 27px;
}

.btn.btn-green.big > .btn-text::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: -11px;
  margin-bottom: -5px;
  width: 60%;
  border-bottom: 4px solid #fff;
}

.story_preview {
  margin-bottom: 50px;
}

#post-2138 .story_preview_text_container {
  position: relative;
}

#post-2138 .story_preview_text_container {
  padding: 10px;
}

.object-type {
  font-family: MetaPlusNormal!important;
  text-transform: uppercase;
  background: #1d70b7;
  color: #fff;
  padding: 3px 15px;
  min-width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

#post-2138 .story_preview_container {
  padding-top: 10px;
  background: #f2f2f2;
}

#post-2138 .story_preview_text_container h4 {
  margin-top: 0;
}

#post-2138 .story_preview_text_container .h4_container {
  position: relative;
}

#post-2138 .h4_block {
  margin-bottom: 30px;
}

.object-type::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -40%;
  bottom: -11px;
  margin-bottom: -5px;
  width: 80%;
  border-bottom: 4px solid #1d70b7;
}

.aanverhuur-intro {
  width: 80%;
  margin: 0 auto;
}

.aanverhuur-intro p {
  width: 90%;
  margin: 30px auto;
}

.intro-details {
  width: 74.5%;
  margin: 10px auto 0 auto;
  position: relative;
}

.intro-type {
  text-align: left;
}

.intro-price {
  text-align: right;
}

.intro-type,
.intro-price {
  margin-top: 45px;
}

.smallStatus {
  font-size: 12px;
}

.aanverhuur-kenmerken {
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.aanverhuur-kenmerken-titel {
  color: #666;
}

.btn.btn-green.big .h4_container,
.aanverhuur-omschrijving .h4_container,
.aanverhuur-kenmerken .h4_container {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.aanverhuur-kenmerken-titel::after {
  content: "";
  position: absolute;
  left: 60%;
  margin-left: -40%;
  bottom: -10px;
  margin-bottom: 0px;
  width: 60%;
  border-bottom: 4px solid #666;
}

.aanverhuur-container {
  text-align: center;
}

.meer-kenmerken-tabel {
  display: none;
  width: 60%;
  margin: 30px auto 0 auto;
}

.aanverhuur-omschrijving {
  background: #f2f2f2;
  margin-top: 60px;
  padding: 0 15% 60px 15%;
  position: relative;
}

.meer-omschrijving {
  padding-top: 20px;
}

.meer-omschrijving-container {
  display: none;
  padding: 20px 0;
}

.aanverhuur-contact {
  margin-bottom: 20px;
}

.aanverhuur-contact .big {
  height: 210px;
  width: 280px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  padding: 0 0!important;
}

.aanverhuur-contact .big h4 {
  margin-top: -15px;
  line-height: 1.2;
  font-size: 27px!important;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  overflow-wrap: break-word;
}

.aanverhuur-contact .big .glyphicon-menu-down {
  margin: 20px auto 10px auto;
  font-size: 28px;
}

.aanverhuur-contact .big h3 {
  color: #fff!important;
  font-weight: 900!important;
  font-size: 0.8vw!important;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.aanverhuur-contact .big h3::after {
  content: "";
  position: absolute;
  left: 27.5%;
  margin: 0 auto;
  bottom: 15px;
  margin-bottom: 5px;
  width: 45%;
  border-bottom: 1px solid #fff;
}


.bezichtigings-btn::after {
  content: "";
  position: absolute;
  left: 60%;
  margin-left: -40%;
  bottom: -10px;
  margin-bottom: 0px;
  width: 60%;
  border-bottom: 2px solid #fff;
}

.other_aanverhuur_container {
  width: 100%;
  padding: 0 7%;
  background: #1d70b7;
}

.asset-management-foto {
  width: 38vw;
  height: 100%;
  margin: 1px;
  margin-top: 1.3vw;
}

.tekstlinks {
  font-size: 69px!important;
  color: gray!important;
  text-align: center;
  width: 100%;
  margin-left: 20%;
  text-transform: none!important;
  line-height: initial;
  /* padding-top: 2.5vw; */
  /* float: left; */
  /* display: inline-block; */
  margin: 1px;
}

.tekstrechts {
  font-size: 69px!important;
  color: gray!important;
  text-align: center;
  width: 100%;
  margin-right: 20%;
  text-transform: none!important;
  line-height: initial;
  /* padding-top: 2.5vw; */
  /* float: left; */
  /* display: inline-block; */
  margin: 1px;

}

.asset-management-text-block .section > .layoutArea > .column > p {
  margin: 3vw 11vw 1vw 11vw!important;
  padding: 1vw 0px 1vw 0px;
}

.category-header {
  color: white;
  text-transform: uppercase;
  font-size: 1vw;
  background: #1d70b7;
  padding: 5px 10px;
  width: fit-content;
  margin: 20px auto 40px auto;
}

.contact-info-container {
  padding-left: 8%!important;
}

.upper-footer {
  height: 170px;
  padding: 20px 0 40px 0!important;
  margin-right: -2%;
}

.upper-footer .contact-info tr:first-child td,
.footer-link > p {
  font-family: MerriweatherBold!important;
  font-weight: 900;
}

.footer-link > p {
    text-align: center;
    font-family: MerriweatherRegular!important;
    /* font-weight: normal; */
    letter-spacing: 1px;

}

.upper-footer .contact-info tr:first-child td {
    font-family: MerriweatherRegular!important;
    letter-spacing: 1px;
}

.layoutArea > .column > h2 {
  margin: 5% 5% 2% 5%;
  padding: 2% 5%;
  font-size: 4vw!important;
}

.wie-foto {
  text-align: center;
}

.wie-foto p {
  text-align: left;
}

#wie-zijn-wij-wie .m2btn_image {
  margin-left: 0!important;
}

.wie-foto h4.underlineGreen {
  margin-bottom: 3.5vw!important;
}

.m2BtnImage {
  height: 100px;
  line-height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #1d70b7;
  color: #fff;
  font-size: 42px;
  font-weight: 900;
  /* margin: 0 3.4vw 0 auto; */
  margin:0 auto;
  text-align: center;
}
/* .m2BtnImage:hover { */
/*     background: #286090; */
/* } */
.m2BtnImage > span {
  display: inline-block;
  vertical-align: initial;
  line-height: normal;
}

.btn-group-vertical .btn.btn-primary.btn_text_m2 {
    margin: 0 auto;
}

.wysiwyg {
  height: auto;
  width: 80%;
  margin: 0 auto 20px auto;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre-line;
}

.wysiwyg h1 {
  position:relative;
  line-height: 95%!important;
  margin-bottom: 3vw!important;
  padding-top: 35px;
  text-transform: none;
  color: #1d70b7!important;
}

.wysiwyg h1::after{
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10%;
  bottom: -1vw;
  margin-bottom: -1vw;
  width: 20%;
  border-bottom: 4px solid #4080bf;
}

.wysiwyg h2 {
  font-size: 50px!important;
  color: gray!important;
  text-align: center;
  width: 100%;
  text-transform: none!important;
  line-height: initial;
  padding-top: 20px;
  margin: 1% 1% 30px 1%;
  display: table-cell;
}

.wysiwyg p {
  width: 100%!important;
  margin: 0!important;
}

.wysiwyg p:last-child {
    /* margin-bottom:40px!important; */
}

.wysiwyg > h2:nth-child(2) {

}

#asset-management .container,
#her-ontwikkel .container,
#beleggingsadvies .container,
#aan-verhuur .container {
  margin-bottom: 4.5vw;
}

.beleggingsadvies-text-block .page .section .column {
  height: 11vw!important;
}

.btn.btn-green.herontwikkelMeerBtn {
  background-color: #999!important;
}

span.herontwikkelMeerArrow {
  color: #999!important;
}

#main-title-2134 h4.underlineGreen::after{
  margin-left: -20%;
  width: 40%!important;
}

.actueelDate {
  color: #999;
  font-size: 16px;
}

#page-1939 .story_preview:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.actueel-post-excerpt {
  padding: 10px;
  height: 100px;
}

.actueel-intro-container-img {
  background:  #1d70b7;
  height: 500px;
  overflow: hidden;
}

.actueel-intro-container-img img {
  opacity: 0.5;
  width: 100%;
}

.wpml-ls-menu-item .wpml-ls-flag {
  display: block!important;
}

.wpml-ls-item .sub-menu li a span {
  display: none;
}

#menu-item-1555 {
  cursor: default;
}

.socialShareIcons {
  text-align: left;
  width: 280px;
  margin: -20px auto 0 auto;
}

.actueelPostInfo {
  width: 80%;
  margin: 0 auto 100px auto;
  position: relative;
}

.actueelBron {
  display: inline;
  width: 70%;
  float: left;
}

.socialShareIcons2 {
  display: inline;
  width: 25%;
  float: right;
}

.aanverhuuritems .story_preview_container h4 {
  color: #1d70b7!important;
}

.aanverhuuritems .story_preview_container {
  min-height: 570px;
}

.aanverhuuritems .info1,
.aanverhuuritems .info2 {
  color: gray;
}

.aanverhuuritems .info2 td {
  padding-top: 5px;
}

.aanverhuuritems .info1 td:nth-child(2),
.aanverhuuritems .info2 td:nth-child(2){
  text-align: right;
}

.aanverhuuritems .smallTxt {
  font-size: 12px;
}

.aanverhuur-intro .flex-control-nav {
  bottom: 0;
  margin-bottom: -40px!important;
}

.aanverhuur-intro .flex-control-paging li a {
  border: 1px solid #666;
  border-radius: 100%;
}

.aanverhuur-intro .flex-control-paging li a.flex-active {
  background: #666;
}

#page-1939 {
  background: transparent;
}

#page-1939 .story_preview_container {
  background: transparent;
}

#page-1939 .story_preview_container:hover{
  background: #eee;
}

#page-1939 .story_preview,
#page-1939 .story_preview_text,
#page-1939 .story_preview_container {
  height: 600px!important;
}

#page-1939 .story_preview_image {
  overflow: hidden;
}

#page-1939 .hoverovereffect:hover .h4_container h4, .hoverovereffect:hover .network-header-container {
  transform: none;
}

#page-1939 .hoverovereffect:hover {
  background: transparent!important;
}

#page-1939 .hoverovereffect:hover {
  background: transparent!important;
}

#page-1939 .story_preview_text {
  height: auto!important;
}

.story_preview_text_container {
  position: relative!important;
}

/* #page-1939 .hoverovereffect:hover .story_preview_container { */
/*   background: #eee; */
/* } */

.story_preview_story .story_preview_container {
  background: #eee;
}

.story_preview_story .story_preview_container .story_preview_image {
  overflow: hidden;
}

#metaslider_176 .flex-control-nav {
  top: 47em!important;
  bottom: 0!important;
}

#metaslider_176 .flex-control-nav li a {
  border: 1px solid white;
  border-radius: 100%;
  background: transparent;
}

#metaslider_176 .flex-control-nav li a.flex-active {
  background: white;
}

.m2BtnImage img{
  height: 60%;
  filter: brightness(0) invert(1);
  margin-top: -10%;
}

.meerAanbodVerhuur p,
.meerAanbodVerhuur {
  width: 100%;
  text-align: center;
  color: #fff;
}

.meerAanbodVerhuur button {
  background: #fff;
  color: #1d70b7!important;
  margin-bottom: 40px;
}

.meerAanbodVerhuurContainer {
  width: 100%;
  float: left;
}

.other_aanverhuur_container .other_stories {
  padding-bottom: 0!important;
  margin-top: 40px!important;
}

#her-ontwikkel h4.green.underlineGreen, #beleggingsadvies h4.green.underlineGreen, #aan-verhuur h4.green.underlineGreen, #asset-management h4.green.underlineGreen {
margin-top: 60px;
}
